*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    background: #1b52ed;
    background: linear-gradient(to right,#3faeeb,#3967d0 46%,#3846d0);
    background: -webkit-linear-gradient(left,#3faeeb,#3967d0 46%,#3846d0);
    display: flex;
    align-items: center;
	flex-direction: column;
	justify-content: center;
    padding: 25px;
}
header > img {
    width: 222px;
    height: 41px;
}
.container {
    width: 1792px;
    height: 440px;
    background-color: #f4f6f8;
}
.login-box{
    width: 550px;
    height: 639px;
    background-color: white;
    border: 1px solid #e0e0e0;;
    margin: 0 auto;
    margin-top: -395px;
}
h3{
    margin-left: 80px;
    margin-top: 50px;
    font-size: 20px;
}
.login-box > hr {
    width: 390px;
    border: 1px solid #f1f1f1;
}
.login-box .id > input , .password > input {
    width: 365px;
    height: 45px;
    margin-left: 80px;
    border-radius: 50px;
    border: 1px solid #f1f1f1;
    padding: 0 15px;
    font-size: 15px;
}
.login-box .id {
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-box .login-button > button{
    width: 400px;
    height: 45px;
    margin-left: 80px;
    border-radius: 50px;
    margin-top: 20px;
    border: 1px solid #1b52ed;;
    background-color: #1b52ed;
    font-size: 20px;
    color: white;
}
.login-box .stay-login input{
    margin-left: 85px;
    margin-top: 20px;
}
.login-box .stay-login span{
    font-size: 15px;
}
.login-box p{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}
.login-box .other-login .with-facebook > button , .with-twitter > button , .with-kakao > button{
    width: 400px;
    height: 50px;
    margin-left: 80px;
    border-radius: 50px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #f1f1f1;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 17px;
}
.login-box .other-login .with-facebook > button > span , .with-twitter > button > span , .with-kakao > button > span{
    font-size: 30px;
}
.login-box .other-login .with-facebook > button{
    color:  #365097;
}
.login-box .other-login .with-twitter > button{
    color:  #1ca0f3;
}
.login-box .other-login .with-kakao > button{
    color:  #f5c500;
}
footer{
    text-align: center;
    margin-top: 70px;
    font-size: 12px;
    color: #999;
}